<header>
  <h1>Welcome, <%= current_user.name %></h1>
</header>

<a class="btn btn-primary btn-lg btn-block" id='add-new-skill-button' href="<%= new_skill_path %>">Add New Skill</a>

<section class='user-show-main'>
  <h2>Skills You Want to Learn</h2>
  <% @user.skills.each do |skill| %>
    <div class='user-show-skill'>
      <h4><%= skill.title %></h4>
      <p><%= skill.description %></p>
      <p><%= skill.description %></p>
    </div>
  <% end %>
  <br>
  <h2>Skills You Mentor</h2>
  <% @user.skills.each do |skill| %>
    <div class='user-show-skill'>
      <h4><%= skill.title %></h4>
      <p><%= skill.description %></p>
    </div>
  <% end %>
  <h3>
</section>
