<%= form_for [@user, @skill] do |f| %>
  <div>
    <%= f.label 'Category' %>
    <%= f.collection_select :category_id, Category.order(:title), :id, :title, include_blank: true %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.submit class:"btn btn-primary mb-2" 'Add Skill'%>
  </div>
<% end %>
