<h1>Skills</h1>
<%= link_to 'Add New Skill', new_skill_path %>
<% @skills.each do |skill| %>
  <h4><%= link_to skill.title, skill_path(skill) %></h4>
  <p><%= skill.description %></p>
  <p><%= link_to 'Edit', edit_skill_path(skill) %></p>
  <p><%= link_to 'Delete', skill_path(skill), method: 'delete', data: {confirm: "Really want to delete this skill?"}  %></p>
<% end %>
